<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de Vue.js pagina oficial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
</head>
<body>
    <p># v-if</p>
    <div id="vif">
        <h1 v-if="ok">Si</h1>
        <h1 v-else>NO</h1>
    </div>

    <br>
    <p># Grupos Condicionales con v-if en "< template > "</p>    
    <div id="templete-vif">
        <template v-if="ok">
            <h1>Título</h1>
            <p>Párrafo 1</p>
            <p>Párrafo 2</p>
          </template>
    </div>

    <br>
    <p># V-else</p>
    <div id="math"> 
        <div v-if="Math.random() > 0.5">
        Ahora me ves
        </div>
        <div v-else>
        Ahora no
        </div>
    </div>
    
    <br>
    <p># v-else-if -> apartir de la version 2.10+</p>
    <div id="vElseIf">
        <div v-if="type === 'A'">
        A
        </div>
        <div v-else-if="type === 'B'">
        B
        </div>
        <div v-else-if="type === 'C'">
        C
        </div>
        <div v-else>
        Si no es A, B o C
        </div>
    </div>

    <br>
    <p># controlando elementos reutilizables con key</p>
    <div id="controlandoElementosReutilizablesConKey">
        <templete v-if="loginType === 'username'">
            <label>Nombre de usuario</label>
            <input placeholder="Ingrese su nombre de usuario">
        </templete>
        <template v-else>
            <label>Email</label>
            <input placeholder="Ingrese su email">
        </template>
        <br><br>
        <input type="text" id="" v-model="textIn">
        <button v-on:click="cambia">Cambiar</button>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script type="text/javascript" src="/js/vue1.js"></script>
    
</body>
</html>